# ----------------------------------------
# OS-Specific
# ----------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------
# Python
# ----------------------------------------
*.py[cod]
__pycache__/
*.so
*.pyd
*.pyo

# ----------------------------------------
# Jupyter Notebooks
# ----------------------------------------
.ipynb_checkpoints/

# ----------------------------------------
# Virtual Environments
# ----------------------------------------
.env/
.venv1/
.venv/
venv1/
env/
venv/
ENV/
Pipfile.lock

# ----------------------------------------
# Package Metadata
# ----------------------------------------
*.egg-info/
*.egg
dist/
build/

# ----------------------------------------
# Logs & Debugging
